.DS_Store
.vscode/
forge.code-workspace
*.pyc
.forge*
forge_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
forge/__version__.py
.venv/
.env
awsSetup/

# State tracking files
agent_states/
*_state.txt

